div{
   /* starts in a newline $Occupies full with*/
    display: block;
}
    span{
        display: inline;
    }
    span{
        display: inline-block;
        width: 200px;
        height: 100px;
        background: red;
    }
    /*div{
        /*display: none;  */
        /*visibility: hidden;*/
       /* overflow: hidden; /*Hides the excess context*/
       /* overflow: auto;
    }
    /* position Properties */
    /*div{
       /* position: static;*/
      /* position: relative;
       top: 15px;
       left:30px;;
    }
    .parent{
        position: relative;
    }
    .child{
        position: absolute;
        top:0;
        right:0;
    }
    div{
        position: fixed;
        bottom: 20px;
        right:20px;
    }
    h1{
        position: sticky;
        top:0;}*/
    .container{
        display: flex;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items:center; 
        gap:20px;
    }
.item{
    height: 100px;
    width: 100px;
    margin:10px;
    padding: 20px;
    text-align: center;
    background-color: brown;
}
/*Warp
1 2 3 4  5 6 7 8
wrap:
1 2 3 4
5 6 7 8 */


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
ul{
    display: flex;
    gap:20px;
    list-style: none;
}
/*Flexbox:row or column
CSS grid:rows&columns*/
.container1{
    display:grid;
    /*create the columns*/
    /*grid-template-columns:1fr 1fr 1fr 1fr ;*/
   /* grid-template-rows: 80px 80px 80px;
    grid-template-columns:
    repeat(auto-fit,minmax(200px,1fr));*/
    gap:20px;
    grid-template-areas: "header header"
    "sidebar content"
    "footer footer";
}
.item{
    width:100px;
    height:100px;
    /*gap:20px;*/
    background: greenyellow;
}
body{
    background-color: aqua;
    /*background-image: url(Assignments/doll.jpg);*/
    background-size: 100%;
    background-position:center ;
    background-repeat:repeat ;

}
h1{
    text-shadow: 5px 2px 10px gray;
}
button:hover{
    background: lightgreen;
    color:white;
}
input{

    padding:10px;
    border:2px solid gray;
    border-radius: 5px;
    outline:none;
}
input:focus{
    border:2px solid blue
}
button:active{
    transform:scale(0.95);
    gap:20px;
}
.box{
    width:50px;
    height:50px;
    background: red;
}
.box{
    /*transform:translate(50px,20px)*/
     transform:rotate(45deg);
     /*resize my element*/
     transform:scale(1.5);
}
.card{
    width:200px;
    height:200px;
    background:blueviolet;
    color:brown;
    display:flex;
    align-items: center;
    justify-content: center;
    /*border-radius: center;*/

}
.card:hover{
    transform:translateY(-10px)
    scale(1.1)
    rotate(5deg);
}
.newbtn{
    background:blue;
    transition:10s;
}   
.newbtn:hover{
    background:red;
    transition-duration:5s ;
    transition-timing-function:ease-in-out;
    
}
